//- content structure
//- #content.set-master-key
//- #content.main-view
#content.edit-server
    #overlay-frame
        include ../masterkeymodule/setmasterkeyframe.pug
        include ../clientmanagermodule/clientmanager.pug
        include ../servermodule/editserverframe.pug
        //- include ../
    #main-frame
        include ../masterkeymodule/masterkeydisplay.pug
        include ../servermodule/server.pug