// globalstyles styles

/*==========================================================
Color Theme
==========================================================*/
cd-foreground = white
cd-flash = #fc4
cd-background = black

cd-darkblue = #024
cd-darkred = #300

cd-color = #aba7aa

element-background = #000c

/*==========================================================
Global Variables
==========================================================*/
// max-content-width = 900px
// mobile-side-padding = 15px


/*==========================================================
General Tag Styles
==========================================================*/
html
    height 100%
body
    background-color cd-background
    color cd-foreground
    font-family: Arial, Helvetica, sans-serif
    text-align: center
    font-size: 12pt
    height 100%
    width 100%
    overflow hidden
    background-image: url('/img/jj-ying-7JX0-bfiuxQ-unsplash.webp')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
h1
    font-size: 17pt
h2
    font-size: 15pt
p
    font-size: 13pt


/*==========================================================
General Tag Styles
==========================================================*/
.hidden-templates
    display none

.invisible-fullframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    box-sizing: border-box
    z-index 0
    opacity: 0
    transition opacity 0.3s
    pointer-events: none


.happy-smiley
    // display none
    margin auto
    height 70px
    width 70px
    // color #024
    color cd-flash
    opacity: 0.2
    svg
        height inherit
        width inherit



.server-name
    font-size 20pt
    vertical-align: middle
    min-height 40px
.server-url
    margin-bottom 10px
    overflow: hidden
    text-overflow: ellipsis
    vertical-align: middle
    min-height 20px
.server-id
    font-size 9pt
    overflow: hidden
    text-overflow: ellipsis
    vertical-align: middle
