//- acceptcodeframe structure
#setmasterkeyframe
    //- #acceptcode-inputs
    h1 Your Master Key to Use
    .group
        label#floating-secret-label(for="floating-secret") Floating Secret 
        input#floating-secret-input(type="password" name="floating-secret")
    .group
        .happy-smiley: svg: use(href="#svg-smile-edgy-icon")
        //- #happy-smiley: svg: use(href="#svg-smile-smirk-icon")
    .group.passive
        label#alias-label Master Key Id 
        #key-id-display  
        #storage-id-display
        label#alias-label Master Key Alias 
        input#alias-input
        #accept-use-button.click-button Use
            //- svg: use(href="#svg-check-icon")
