/*==========================================================
Set Master Key Frame
==========================================================*/
button-size = 40px

.set-master-key
    #setmasterkeyframe
        z-index: 20
        opacity 1
        pointer-events: all

#setmasterkeyframe
    @extends .invisible-fullframe
    padding 30px
    background-color #000c
    display: flex
    flex-direction: column
    justify-content: space-between
    h1
        font-size: 24pt
        line-height: 120%
        text-align: right
        background-color #024c
        padding 20px
        margin -30px -30px 0 -30px
        // text-decoration: underline
    label
        font-size 12pt
        display block
        text-align: left
        margin-bottom 5px
    input
        display block
        font-size 16pt
        padding 12px
        box-sizing: border-box
        text-align: center
        width 100%
        background alpha(#024, 0.5)
        color #fff
        border-bottom solid 2px rgb(0, 64, 133)
    input.okay
        border-bottom solid 2px rgb(13, 133, 0)
    input.error
        border-bottom solid 2px rgb(133, 0, 0)
    input.typing
        border-bottom solid 2px rgb(133, 51, 0)
    

    .passive
        opacity 0.2
        pointer-events: none

#key-id-display
    font-size: 10pt
    padding 20px 12px
    overflow hidden
    text-overflow: ellipsis
    background-color #000

#storage-id-display
    font-size 7pt
    text-align: right
    overflow hidden
    text-overflow: ellipsis
    padding 3px
    margin 0
    margin-bottom 20px

#accept-use-button
    margin-top 50px
    margin-bottom 20px
    width 200px
    font-size: 20pt
    padding 12px
    box-sizing: border-box
    position: relative
    cursor: pointer
    background-color #024c
    border-radius: 15px
    svg
        position absolute
        top 0
        right 20px
        width: 40px
        height: 40px

/*==========================================================
Main View - Master Key Display
==========================================================*/

.display-servers
    #masterkeydisplay
        z-index 22
        opacity 1
        pointer-events: all

#masterkeydisplay
    position: absolute
    top 0
    left 0
    width: 100%
    // width calc(100% - 10px)
    // border-radius: 5px
    // margin 5px
    padding 15px
    box-sizing: border-box
    background-color: #024c
    display flex
    align-items: center
    opacity 0
    pointer-events: none
    transition: opacity 0.3s

    .key-icon
        height 30px
        width 30px
        svg
            height inherit
            width inherit

    .key-info
        text-align: left
        padding 0 20px
        box-sizing: border-box
        overflow: hidden
    .key-info > *
        overflow: hidden
        text-overflow: ellipsis

#masterkey-alias
    font-size 24pt
    margin-bottom 7px
#masterkey-id
    font-size 11pt

#masterkey-storage-id
    font-size 7pt
    text-align: right 