#editserverframe
    h1 Server Details
    .group
        label(for="server-name-input") Server Name 
        input#server-name-input(type="text" name="server-name")
        label(for="server-url-input") Server URL 
        input#server-url-input(type="text" name="server-url")
        label Stated Server Id
        #stated-server-id-display 
        label(for="server-id-input") Server Id 
        input#server-id-input(type="text" name="server-id")

    .group
        #error-message
        .happy-smiley: svg: use(href="#svg-smile-edgy-icon")
        //- #happy-smiley: svg: use(href="#svg-smile-smirk-icon")
    #button-line.group
        button#cancel-edit-button.click-button Cancel
        button#accept-edit-button.click-button.passive Accept
            //- svg: use(href="#svg-check-icon")
