//- server structure
.hidden-templates
    #server-entry-template-element.server-entry(server-index="{{{index}}}")
        .entry-top
            //- .server-icon: svg: use(href="#svg-server-icon")
            .server-info 
                .server-name {{{server.name}}}
                .server-url {{{server.url}}}
                .server-id {{{server.id}}}
            .server-buttons 
                .edit-button.click-button: svg: use(href="#svg-edit-icon")
                .delete-button.click-button: svg: use(href="#svg-trash-icon")
        .entry-bottom
                .manage-button.click-button 
                    svg: use(href="#svg-manage-clients-icon")
                    | Manage Clients
        

#server-list.empty
    #no-server-indication
        p No Servers Yet.
    

//- #addserverbutton.click-button
//-     .add-icon: svg: use(href="#svg-add-icon")
//-     .add-label Add Server

#addserverbutton.click-button
    svg: use(href="#svg-add-icon")
