// server styles
/*==========================================================
Edit Server Frame
==========================================================*/

button-size = 40px

.edit-server
    #editserverframe
        z-index: 20
        opacity 1
        pointer-events: all

#editserverframe
    position absolute
    top 0
    left 0
    padding 30px
    width 100%
    // max-width: 600px
    // margin-left auto
    height 100%
    box-sizing: border-box
    z-index 0
    opacity: 0
    transition opacity 0.3s
    background-color #000c
    pointer-events: none
    display: flex
    flex-direction: column
    justify-content: space-between
    h1
        font-size: 24pt
        line-height: 120%
        text-align: right
        background-color #024c
        padding 20px
        margin -30px -30px 0 -30px
        // text-decoration: underline
    label
        font-size 12pt
        display block
        text-align: left
        margin-bottom 5px
        margin-top 20px
    input
        display block
        font-size 16pt
        padding 12px
        box-sizing: border-box
        text-align: center
        width 100%
        background alpha(#024, 0.5)
        color #fff
        border-bottom solid 2px rgb(0, 64, 133)
    input.okay
        border-bottom solid 2px rgb(13, 133, 0)
    input.error
        border-bottom solid 2px rgb(133, 0, 0)
    input.typing
        border-bottom solid 2px rgb(133, 77, 0)
    

    .passive
        opacity 0.2
        pointer-events: none

#error-message
    display none
    color red
.group.error
    #error-message
        display block
    .happy-smiley
        display none

#stated-server-id-display
    font-size: 10pt
    padding 20px 12px
    overflow hidden
    text-overflow: ellipsis
    background-color #000

#button-line
    display flex
    justify-content: space-around
    align-items: center
    // margin-top 50px
    margin-bottom 20px

#accept-edit-button
    width 130px
    font-size: 18pt
    padding 12px
    box-sizing: border-box
    position: relative
    cursor: pointer
    background-color #024c
    color #fff
    border-radius: 15px

#cancel-edit-button
    width 130px
    font-size: 18pt
    padding 12px
    box-sizing: border-box
    position: relative
    cursor: pointer
    background-color #300c
    color #fff
    border-radius: 15px


/*==========================================================
Main View - Server Choice Container
==========================================================*/

.display-servers
    #server-list
        z-index: 20
        opacity 1
        pointer-events: all

#server-list.empty
    #no-server-indication
        display block

#server-list
    position relative
    padding 100px 10px
    width 100%
    height 100% 
    overflow-y auto
    box-sizing: border-box
    z-index 0
    opacity: 0
    transition opacity 0.3s
    // background-color: blue
    pointer-events: none
    // display: flex
    // flex-direction: column
    // justify-content: space-between
    // display grid
    // gap 30px
    // grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) )

    .server-entry
        border-radius: 4px
        background-color #024c
        padding 15px 10px 5px 10px
        overflow: hidden
        height fit-content
        margin-top 42px

    .entry-top
        display flex
        align-items: cente

    .server-icon
        height 25px
        width 25px
        svg
            height inherit
            width inherit

    .server-info
        flex-grow: 1
        text-align left
        padding-right 20px
        box-sizing: border-box
        overflow: hidden
        min-width 150px
        // color cd-flash

    .server-name
        font-size 20pt
        vertical-align: middle
        min-height 40px
    .server-url
        margin-bottom 10px
        overflow: hidden
        text-overflow: ellipsis
        vertical-align: middle
        min-height 20px
    .server-id
        font-size 9pt
        overflow: hidden
        text-overflow: ellipsis
        vertical-align: middle

    .server-buttons
        flex-grow: 0

    .edit-button
        display block
        border-radius: 9px
        background-color:  #024c
        padding 12px
        height fit-content
        svg
            height 23px
            width 23px

    .delete-button
        margin-top 7px
        display block
        border-radius: 9px
        background-color#300c
        padding 12px
        height fit-content
        svg
            height 23px
            width 23px

    
    .entry-bottom
        display block
        margin-top 15px
        width 100%

    .manage-button
        border-radius: 20px
        background-color #024a
        padding 20px
        box-sizing: border-box
        width 100%
        svg
            height 23px
            width 23px
            padding-right 5px
.display-servers
    #addserverbutton
        z-index 22
        opacity 1
        pointer-events: all

// #addserverbutton
//     display flex
//     position: absolute
//     bottom 10px
//     right 20px
//     width 240px
//     margin-left auto
//     box-sizing: border-box
//     padding 15px
//     background-color: #024c
//     align-items: center
//     opacity 0
//     pointer-events: none
//     transition: opacity 0.3s
//     border-radius: 15px
//     box-shadow: 3px 3px 10px alpha(#000, 0.4) 

//     .add-icon
//         height 50px
//         width 50px
//         svg
//             height inherit
//             width inherit

//     .add-label
//         font-size: 20pt
//         padding 10px

#addserverbutton
    display block
    position: absolute
    bottom 10px
    right 20px
    color: #024c
    opacity 0
    pointer-events: none
    transition: opacity 0.3s
    border-radius: 50%
    height 60px
    width 60px
    // background-color white
    // box-shadow: 3px 3px 10px alpha(#000, 0.4) 
    
    svg
        height inherit
        width inherit


#no-server-indication
    display none
    color: #024
    margin-top 32vh
    font-weight: bold