// server styles

#server-entry-hidden-template
    display none

/*==========================================================
Edit Server Frame
==========================================================*/

button-size = 40px

.edit-server
    #editserverframe
        z-index: 20
        opacity 1
        pointer-events: all

#editserverframe
    position absolute
    top 0
    left 0
    padding 30px
    width 100%
    // max-width: 600px
    // margin-left auto
    height 100%
    box-sizing: border-box
    z-index 0
    opacity: 0
    transition opacity 0.3s
    background-color #000c
    pointer-events: none
    display: flex
    flex-direction: column
    justify-content: space-between
    h1
        font-size: 24pt
        line-height: 120%
        text-align: right
        background-color #024c
        padding 20px
        margin -30px -30px 0 -30px
        // text-decoration: underline
    label
        font-size 12pt
        display block
        text-align: left
        margin-bottom 5px
        margin-top 20px
    input
        display block
        font-size 16pt
        padding 12px
        box-sizing: border-box
        text-align: center
        width 100%
        background alpha(#024, 0.5)
        color #fff
        border-bottom solid 2px rgb(0, 64, 133)
    input.okay
        border-bottom solid 2px rgb(13, 133, 0)
    input.error
        border-bottom solid 2px rgb(133, 0, 0)
    input.typing
        border-bottom solid 2px rgb(133, 51, 0)
    

    .passive
        opacity 0.2
        pointer-events: none


#stated-server-id-display
    font-size: 10pt
    padding 20px 12px
    overflow hidden
    text-overflow: ellipsis
    background-color #000

#button-line
    display flex
    justify-content: space-around
    align-items: center
    // margin-top 50px
    margin-bottom 20px

#accept-edit-button
    width 130px
    font-size: 18pt
    padding 12px
    box-sizing: border-box
    position: relative
    cursor: pointer
    background-color #024c
    color #fff
    border-radius: 15px

#cancel-edit-button
    width 130px
    font-size: 18pt
    padding 12px
    box-sizing: border-box
    position: relative
    cursor: pointer
    background-color #300c
    color #fff
    border-radius: 15px


/*==========================================================
Main View - Server Choice Container
==========================================================*/

.main-view
    #serverchoicecontainer
        z-index: 20
        opacity 1
        pointer-events: all

#serverchoicecontainer
    position relative
    padding 100px 10px
    width 100%
    height 100% 
    overflow-y auto
    box-sizing: border-box
    z-index 0
    opacity: 0
    transition opacity 0.3s
    // background-color: blue
    pointer-events: none
    // display: flex
    // flex-direction: column
    // justify-content: space-between
    display grid
    gap 30px
    grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) )

    .server-entry
        border-radius: 15px
        background-color alpha(#024, 0.6)
        padding 20px
        overflow: hidden
        height fit-content
    .server-icon
        height 60px
        width 60px
        svg
            height inherit
            width inherit
    .server-info
        text-align left
        padding-left 20px
        overflow: hidden
    .server-name
        font-size 20pt
        margin-bottom 10px
    .server-url
        margin-bottom 10px
        overflow: hidden
        text-overflow: ellipsis
    .server-id
        overflow: hidden
        text-overflow: ellipsis
    .entry-top
        display flex
        align-items: center
    .entry-bottom
        display flex
        justify-content: space-between
        align-items: center
        margin-top 30px

    .manage-clients-button
        border-radius: 15px
        background-color #024c
        padding 30px
        svg
            height 50px
            width 50px
    .delete-button
        border-radius: 15px
        background-color#300c
        padding 20px
        height fit-content
        svg
            height 30px
            width 30px

.main-view
    #addserverbutton
        z-index 22
        opacity 1
        pointer-events: all

// #addserverbutton
//     display flex
//     position: absolute
//     bottom 10px
//     right 20px
//     width 240px
//     margin-left auto
//     box-sizing: border-box
//     padding 15px
//     background-color: #024c
//     align-items: center
//     opacity 0
//     pointer-events: none
//     transition: opacity 0.3s
//     border-radius: 15px
//     box-shadow: 3px 3px 10px alpha(#000, 0.4) 

//     .add-icon
//         height 50px
//         width 50px
//         svg
//             height inherit
//             width inherit

//     .add-label
//         font-size: 20pt
//         padding 10px

#addserverbutton
    display block
    position: absolute
    bottom 10px
    right 20px
    color: #024c
    opacity 0
    pointer-events: none
    transition: opacity 0.3s
    border-radius: 50%
    height 60px
    width 60px
    // background-color white
    // box-shadow: 3px 3px 10px alpha(#000, 0.4) 
    
    svg
        height inherit
        width inherit
