//- clientmanager structure
.hidden-templates 
    #client-entry-template-element.client-entry(client-index="{{{index}}}") 
        .client-entry-left
            .client-alias.server-name {{{client.alias}}}
            .client-id.server-id {{{client.id}}}
        .client-entry-right 
            .delete-button.click-button: svg: use(href="#svg-trash-icon")

#clientmanager
    h1 Manage Server Clients
    #managed-server-info.error
        #managed-server-name.server-name ServerName
        #managed-server-url.server-url https://server-url.org/server-route
        #managed-server-id.server-id 0x2323232322323232323232323232323232

    #display-clients-container
        #server-error-message Error: Cannot retrieve clients.
        #clients-to-serve-list
            #no-clients-message Server has no clients to serve yet.
        #add-client-frame
            label(for="client-alias-input") Client Name
            input#client-alias-input(type="text" placeholder="Client Name")
            label(for="client-id-input") Client Id
            input#client-id-input(type="text" placeholder="Client Id")
            #add-client-button.click-button.passive
                svg: use(href="#svg-add-icon")
                | Add Client To Serve

    #start-add-button.click-button
        svg: use(href="#svg-add-icon")

    #stop-add-button.click-button
        svg: use(href="#svg-cross-icon")