// clientmanager styles
.manage-clients
    #clientmanager
        z-index 20
        opacity 1
        pointer-events: all

    #start-add-button 
        opacity 1
        pointer-events: all

    #clientmanager.add-client
        #start-add-button
            opacity 0
            pointer-events: none
        #stop-add-button
            opacity 1
            pointer-events: all


#clientmanager
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    box-sizing: border-box
    padding 30px

    transition opacity 0.3s
    background-color #000c

    z-index 0
    opacity: 0
    pointer-events: none

    display: flex
    flex-direction: column
    // justify-content: space-between

    h1
        font-size: 24pt
        line-height: 120%
        text-align: right
        background-color #024c
        padding 20px
        margin -30px -30px 0 -30px

    label
        font-size 12pt
        display block
        text-align: left
        margin-bottom 5px
        margin-top 20px

    input
        display block
        font-size 16pt
        padding 12px
        box-sizing: border-box
        text-align: center
        width 100%
        background alpha(#024, 0.5)
        color #fff
        border-bottom solid 2px rgb(0, 64, 133)

    input.okay
        border-bottom solid 2px rgb(13, 133, 0)
    input.error
        border-bottom solid 2px rgb(133, 0, 0)
    input.typing
        border-bottom solid 2px rgb(133, 77, 0)
    
    .passive
        opacity 0.2
        pointer-events: none

#add-client-button
    margin-top 30px
    border-radius: 20px
    background-color #024f
    padding 20px
    box-sizing: border-box
    width 100%
    svg
        height 23px
        width 23px
        padding-right 5px

#managed-server-info
    background-color #024c
    text-align: left
    padding 20px
    margin-top 20px
    border-radius: 3px

#server-error-message
    display none
    color red

.error
    #managed-server-info
        background-color #300c

    #server-error-message
        display block
    
    #clients-to-serve-list
        display none

    #no-clients-message
        display none

#start-add-button 
#stop-add-button 
    display block
    position: absolute
    bottom 10px
    right 20px
    transition: opacity 0.3s
    border-radius: 50%
    height 60px
    width 60px
    
    z-index 0
    opacity 0
    pointer-events: none
    
    // box-shadow: 3px 3px 10px alpha(#000, 0.4) 
    
    svg
        height inherit
        width inherit

#start-add-button
    color: #024c
    background-color white

#stop-add-button
    color #fff
    background-color #600f

#add-client-frame
    opacity 0
    pointer-events: none
    transition: opacity 0.3s

.add-client
    #add-client-frame
        opacity 1
        pointer-events: all
    #clients-to-serve-list
        display none

#clients-to-serve-list
    display block
    width 100%

    .client-entry
        text-align: left
        background-color white
        color #024
        border-radius 12px
        margin-bottom 20px
        width 100%
        box-sizing: border-box
        padding 10px

    .client-entry-left
        display: inline-block
        width calc(100% - 60px)

    .client-entry-right
        display: inline-block
        
    .delete-button
        margin-top 7px
        display block
        border-radius: 9px
        background-color#300c
        color white
        padding 12px
        height fit-content
        svg
            height 23px
            width 23px

    


#display-clients-container
    margin-top 30px
    padding-bottom: 100px
    overflow hidden
    overflow-y: auto
    width 100%
